In [88]:
import numpy as np
from datascience import *

# These lines set up graphing capabilities.
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import warnings
warnings.simplefilter('ignore', FutureWarning)

# Tables, Functions, and Histograms

In [89]:
all_genre = Table().read_table('market-share-genre.csv')
all_genre.show(6)

In [90]:
all_genre.take(0).select("Total Box Office")

Total Box Office
$62,341,563,114

In [92]:
def convert_price_to_num( price ):
    str_tmp = price.strip("$").replace(',', '')
    return float(str_tmp)

In [93]:
convert_price_to_num("$62,341,563,114")

62341563114.0

In [96]:
def convert_price_to_num( price ):
    price_str = price.strip('$').replace(',','') 
    return float(price_str)

In [97]:
result = convert_price_to_num("$62,341,563,114")
type(result)

float

In [ ]:
result = convert_price_to_num("$62,341,563,114")
result

In [ ]:
1e6

In [ ]:
def convert_to_bil( num ):
    return num / 1e8

In [ ]:
result = convert_to_bil(result)
result

In [ ]:
def convert_price_to_bil( price ):
    price_str = price.strip('$').replace(',','') 
    return round( float(price_str) / 1e8, 2)

In [ ]:
new_price = all_genre.apply(convert_price_to_bil, "Total Box Office")

In [ ]:
with_price = all_genre.with_column("Total", new_price)
with_price.show()

In [ ]:
with_price.hist("Total", unit="Billion Dollars")

In [ ]:
with_price.hist("Total", bins=np.arange(0, 700, 100))

In [ ]:
with_price.where("Total", are.below(100)) #.num_rows

In [ ]:
with_price.bin("Total", bins=np.arange(0, 700, 100))

In [ ]:
with_price.num_rows

In [ ]:
8/14

In [ ]:
tickets = with_price.apply(convert_price_to_num, "Tickets")

In [ ]:
with_price = with_price.with_columns("Ticket num", tickets)

In [ ]:
def price_per_item( num, total ):
    return num / total

In [ ]:
with_price.with_columns(
    "Price per ticket", 1e8*with_price.apply(price_per_item, "Total", "Ticket num")
)

In [84]:
all_genre = Table().read_table('horror.csv')
all_genre.show(6)